@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-background: #EADBC8;
  --nav-link-color: #040605;
  --button-border-color: #CBB9AD;
  --button-text-color: #F7FDF8;
}


.auth-btn{
  color: var(--button-text-color);
  border-color:var(--button-border-color);
}

.bg-nav-background{
  background-color: var(--nav-background);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
.text-foreground{
  color: var(--foreground);
}
.bg-background{
  background-color: var(--background);
}
